@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Poppins&display=swap');

.header {
  width: 100%;
  height: 100px;
  background-color: #a1d9ff;
}

.header > span {
  /* sub contents on header */
  position: fixed;
  top : 20px;
  left: 3%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2.2rem;
  font-weight: bolder;
  color: white;
}


.header__standard-bar {
  /* categories bar */
  width: 120px;
  height: 23px;
  position: fixed;
  padding: 5px;
  border-radius: 0.4rem;
  top: 30px;
  left: 25px;
  background-color: white;
}

.header__standard-bar__next-button {
  position: fixed;
  width: 0; 
  height: 0; 
  /* make triangle */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #8fbbff;
  background-color: white;
  top: 42px;
  left: 130px;
}

.header__standard-bar__next-button:active {
  top: 44px;
}